<div class="container">

<div class="row">

	<div class="col-4">
		<h4 class="mt-2"></h4>
		<form action="/booking"  method="POST" >
			<div class="form-group center">
				<label for="formGroupExampleInput">Name</label>
				<input type="text" name="name" value="{{name}}" class="form-control {{kittenNameInvalid.style}}" id="formGroupExampleInput" placeholder="eg. Snowy">
				<div id="" class="invalid-feedback">
        			{{!-- Please provide a number of days. --}}
					{{kittenNameInvalid.message}}
      			</div>
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput2">Time for booking</label>
				<input type="number" value="{{timestamp}}"  name="time" class="form-control {{daysInvalid.style}}" id="formGroupExampleInput2" placeholder="">
				<div id="" class="invalid-feedback">
        			{{!-- Please provide a number of days. --}}
					{{daysInvalid.message}}
      			</div>
				
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput2">Day of Booking </label>
				<select name="day" class="form-control {{arrivingOnInvalid.style}}" value="{{day}}" >
					<option></option>
					<option>Monday</option>
					<option>Tuesday</option>
					<option>Wednesday</option>
					<option>Thursday</option>
					<option>Friday</option>
				</select>
				<div id="" class="invalid-feedback">
        			{{!-- Please provide a number of days. --}}
					{{arrivingOnInvalid.message}}
      			</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary">Make a booking</button>
			</div>
		</form>
	</div>
	{{!-- <div class="col-8">
		<h4 class="mt-2"></h4> --}}

		{{!-- <div class="mb-2" >
			<form action="/filter" method="POST" >
				<strong>Filter:</strong>	
				<input class="ml-4" type="radio" name="daysFilter" value="all" > All
				<input class="ml-4" type="radio" name="daysFilter" value="three" > 3 days or less
				<input class="ml-4" type="radio" name="daysFilter" value="more" > More 3 days
				<input class="btn btn-warning btn-sm" type="submit" value="Filter">
			</form>
			 --}}


		{{!-- </div> --}}



		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Time for booking</th>
					<th scope="col">Day of booking</th>
				</tr>
			</thead>
			<tbody>
				{{#each kittens}}
				<tr>
					<th scope="row">{{id}}</th>
					<td>{{name}}</td>
					<td>{{timestamp}}</td>
					<td>{{arrivingOn}}</td>
				</tr>
				{{/each}}
				
			</tbody>
		</table>
	</div>
</div>



  
  </div>